on boot
    # Panel backlight
    chown system system /sys/class/leds/lcd-backlight_1/brightness
    chmod 660 /sys/class/leds/lcd-backlight_1/brightness
    chown system system /sys/class/leds/lcd-backlight_2/brightness
    chmod 660 /sys/class/leds/lcd-backlight_2/brightness

    # LED
    chown system system /sys/class/leds/pwr-red/brightness
    chmod 660 /sys/class/leds/pwr-red/brightness
    chown system system /sys/class/leds/pwr-red/use_pattern
    chmod 660 /sys/class/leds/pwr-red/use_pattern
    chown system system /sys/class/leds/pwr-green/brightness
    chmod 660 /sys/class/leds/pwr-green/brightness
    chown system system /sys/class/leds/pwr-green/use_pattern
    chmod 660 /sys/class/leds/pwr-green/use_pattern
    chown system system /sys/class/leds/pwr-blue/brightness
    chmod 660 /sys/class/leds/pwr-blue/brightness
    chown system system /sys/class/leds/pwr-blue/use_pattern
    chmod 660 /sys/class/leds/pwr-blue/use_pattern
    chown system system /sys/devices/i2c-10/10-0040/als_on
    chmod 660 /sys/devices/i2c-10/10-0040/als_on
    chown system system /sys/devices/i2c-10/10-0040/pattern_data
    chmod 660 /sys/devices/i2c-10/10-0040/pattern_data
    chown system system /sys/devices/i2c-10/10-0040/pattern_delay
    chmod 660 /sys/devices/i2c-10/10-0040/pattern_delay
    chown system system /sys/devices/i2c-10/10-0040/pattern_duration_secs
    chmod 660 /sys/devices/i2c-10/10-0040/pattern_duration_secs

    # Vibrator
    chown system system /sys/devices/i2c-12/12-0049/intensity
    chmod 666 /sys/devices/i2c-12/12-0049/intensity

on post-fs
    # Touch firmware update
    write /data/etc/touch_default_module_id 32
    mkdir /data/pc 700 radio radio
